@media (max-width: 991px)
    .promo
        padding-left: 30px
        padding-right: 30px
    .benefit
        padding-left: 30px
        padding-right: 30px

@media (max-width: 767px)
    .header
        &__official
            display: none
    .promo
        background-position: 25%
        padding-left: 15px
        padding-right: 15px
        &__header
            font-size: 35px
        &__subheader
            font-size: 20px
        .button_main
            width: 275px
            height: 48px
            font-size: 15px
    .benefit
        padding-left: 15px
        padding-right: 15px
        &__icon
            width: 190px

@media (max-width: 575px)
    .header
        &__logo
            width: 200px
            img
                width: 100%
    .promo
        background-position: 60%
        &__header
            font-size: 30px
        &__subheader
            font-size: 17px
        &__icons
            width: 70%
        &__icon
            width: 80px
    .button_main 
        width: 250px
        height: 44px
        font-size: 14px
    .benefit
        min-height: 400px
        padding: 50px 15px 50px 15px
        &__icons
            margin-top: 30px
            display: block
        &__icon
            width: 90%
            display: flex
            justify-content: center
            align-items: center
            margin-top: 35px
        &__text
            margin-left: 20px
            text-align: left
        &__subheader
            margin-top: 0px
            margin-bottom: 10px

@media (max-width: 376px)
    .header
        &__logo
            width: 150px
            img
                width: 100%
        &__phone
            font-size: 15px
    .promo
        &__header
            font-size: 25px
        &__subheader
            display: block
            width: 200px
            font-size: 15px
            text-align: right
        &__icons
            width: 80%
        &__icon
            width: 70px
        .button_main 
            width: 220px
            height: 44px
            font-size: 13px
    .benefit
        &__header
            font-size: 24px




